div.jumbotron {
    color: white;
}

div.jumbotron h1 {
    font-size: 48pt
}
div.jumbotron h2 {
    font-size: 32pt
}
div.jumbotron p {
    font-size: 16pt
}

div.thumbnail {
    float: left;
    padding: 25px;
    width: 33%;
    height: 400px;
}

h1 small {
    font-size: 0.5em;
}
